<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        Hello,<br>
        &nbsp;<br>
        Greetings from Mystifly. We are thrilled to have you as our valued customer and are delighted to inform you about your upcoming flight travel. As your trusted travel partner, we strive to ensure your journey is seamless and enjoyable from start to finish.<br>
        &nbsp;<br>
        PNR: {{pnr}}
        &nbsp;<br>
        Please double-check the provided flight details and notify us immediately if you find any discrepancies. We are happy to help with web check-in and any other post booking services. You can anytime raise a request on your booking via Mysticare. Alternatively, you may reach us at 080 670 46000 or write to us by email – at service@myfarebox.com<br>
        &nbsp;<br>
        <b>Please note: </b> Our assistance services are only available up to 6 hours before your scheduled departure time. o do online check-in airlines required below passenger information. Nationality, Date of birth, Document type - Passport/ EEA ID card (European Economic Area), Document number, Country of issuance, Date of expiry.Online check-in is mandatory for Ryanair. Additionally, they have introduced an online verification process that travelers must complete to check in online. Further information is available on the Ryanair website.<br>
    </p>

</body>
</html>